@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e8e5da;
  color: #2d3047;
}

.nav-top {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3047;
  color: #e8e5da;
}

.nav__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.nav__menu__items {
  margin: 0 25px;
}

.nav__logo {
  margin-left: 70px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  font-size: xx-large;
  cursor: pointer;
}

.nav__menu__items a {
  text-decoration: none;
  color: #e8e5da;
}

.items-3 {
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b8f8c;
  color: #e8e5da;
  padding: 0 15px;
  border-radius: 30px;
}

.items-3:hover {
  background-color: #2e8d88;
}

.main-page {
  display: flex;
  align-items: center;
  height: 400px;
}

.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 50px;
  margin: 20px 0;
}

.main__description {
  width: 450px;
  font-size: medium;
  margin-bottom: 50px;
  text-align: center;
}

.main_btn {
  text-decoration: none;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b8f8c;
  color: #e8e5da;
  padding: 0 15px;
  border-radius: 30px;
}

.footer-page {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer__container {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
}
.footer__text {
  height: 50px;

  margin: 0 auto;
}
